* {
  margin: 0px;
  padding: 0px;
}

section {
  border: 2px solid black;
  /* margin: 60px; */
  /* padding: 10px; */
}
.section-first {
  background-color: coral;
}
.section-second {
  background-color: darkcyan;
}
p {
  font-size: 20px;
  font-weight: 800;
}
.section-first p {
  color: rgb(255, 255, 255);
}
.section-second p {
  color: chartreuse;
}
#special-p {
  color: crimson;
}
.second-div {
  background-color: rgb(120, 223, 223);
  margin: 50px;
}
.section-first .second-div p {
  color: rgb(255, 0, 0);
}

.container {
  height: 400px;
  text-align: center;
  /* background-color: rgb(10, 86, 88);
    background-image: url('../images/google_logo.png');
    background-position: center;
    background-size: cover; */

  background-image: url("../images/google_logo.png"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(228, 228, 228, 0.774));

  /* background-color: rgba(116, 116, 116, 0.5); */
  background-size: cover;
  background-position: center;

  color: white;

  border: 2px dashed #107c97;

  /* padding-top: 50px; 
    padding-bottom: 40px; 
    padding-left: 30px; 
    padding-right: 20px;  */

  /* padding: t r b l; */
  padding: 50px 40px 100px 10px;

  /* margin: tb   lr */
  margin: 200px 100px;

  /* padding-block: 30px; 
    padding-inline: 60px;  */

  /* margin-block: 100px;
    margin-inline: 200px; */
}

.box {
  /* border: 2px solid blue; */
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 200px;
  /* border-style: dotted; */
  background-color: #107c97;
  color: white;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.circle {
  margin: 200px;
  border: 2px solid blue;
  width: 250px;
  height: 250px;
  margin-top: 0px;
  border-radius: 100%;
}

.box:hover {
  background-color: rgb(185, 65, 28);
  color: yellow;
  border: 2px solid grey;

}

.email{
  margin: 100px;
  padding: 4px;
  background-color: rgb(180, 180, 230);
  border: 1px solid rgb(105, 105, 105);
  border-radius: 6px;
  font-size: 16px;

}

.email:hover, .email:focus{
  background-color: rgb(214, 235, 253);
  border: 1px solid black;
  outline: none;
}