*{
    margin: 0;
    padding: 0;
}

.main{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    height: 1000px;
    background-color: aquamarine;
    position: relative;
}

.main span{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-right: 10px;
    color: white;
    margin-top: 50px;
}

.main-2{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    height: 1000px;
    width: 600px;
    background-color: rgb(227, 252, 244);
    position: relative;

}


.box1{
    /* position: fixed;
    /* top: 120px;
    left: 120px; */ 
}

h1{
    position: fixed;
    top: 10px;
    background-color: black;
    color: white;
    padding: 2px ;
    z-index: 200;
}




.btn{
    position: fixed;
    background-color: black;
    color: white;
    bottom: 10px;
    right: 10px;
    z-index: 300;
    padding: 5px;
    cursor: pointer;
    /* right: 0;
    bottom: 0; */
}
















.main-2 span{
    display: inline-block;
}

.box-1{
    width: 500px;
    height: 500px;
    background-color: black;
    position: absolute;
    top: 50px;
    left: 60px;
}

.box-2{
    width: 400px;
    height: 400px;
    background-color: rgb(180, 13, 13);
    position: absolute;
    top: 100px;
    left: 105px;
}

.box-3{
    width: 300px;
    height: 300px;
    background-color: rgb(199, 233, 6);
    position: absolute;
}

.box-4{
    width: 200px;
    height: 200px;
    background-color: rgb(89, 11, 190);
    position: absolute;
}